<div class="col-md-6 mt-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        Pay Account
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><label>Nickname:</label></td>
              <td><%= @pay_account.nickname %></td>
            </tr>
            <tr>
              <td><label>Account Type:</label></td>
              <td><%= @pay_account.account_type.humanize %></td>
            </tr>
            <tr>
              <td><label>Account Number:</label></td>
              <td>
                <p id="<%= @pay_account.id %>-account-number" class="account-number"><%= @pay_account.account_number %></p>
                <button id="<%= @pay_account.id %>-hide-btn" type="button" class="btn btn-sm btn-default hide-btn">hide</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= link_to 'Delete', @pay_account, method: :delete, class: 'btn btn-danger' %>
      <%= link_to 'Back to all Pay Accounts', pay_accounts_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
